*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: rgb(7,64,20);
    background: linear-gradient(0deg, rgba(7,64,20,1) 0%, rgba(24,176,99,1) 100%);
}
.player-name {
    color: blue;
}
.card {
    width: 100px;
    height: 150px;
    margin-right: 10px;
    border: 2px solid #999;
    border-radius: 5px;
    background: #fff;
}

.players-card {
    display: flex;
}